*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #f1f2f3;
}

.logo{
    width: 100px;
}
.myheader{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 40px;
    margin-bottom: 1rem;
    background-color: white;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

.liens{
    padding: 3px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.header{
    display: flex;
    justify-content: center;
    height: 70%;
    margin-bottom: 30px;
}
.hulu {
  position: relative; 
  z-index: 1;
  width: 70%;    
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.hulu:hover{
    transition: transform 400ms;
    transform: scale(1.03);
}
.img{
    height: 569px;
}
.contentBody {
  position: relative;
  top:-86%; 
  left:55%;
  z-index: 10;
  color: white;
  text-shadow: 1px 1px 2px black;
  display: flex;
  flex-direction: column;
}
.text{
   display: flex;
   flex-direction: column;
   width: 500px;
   font-size: 15px;
   font-family: Helvetica, sans-serif;
   gap: 50px;
   margin-top: 20px;
}
.btn{
    background-color: #02D6E8;
    width: 160px;
    font-size: 20px;
    padding: 10px;
    gap: 60px;
    border-radius: 25px;
    font-family: Helvetica, sans-serif;
}
.ab{
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
.blows{
    width: 500px;
}
.sdline{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top: 60px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.castel{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 315px;
    gap: 16px;
    height: 558px;
}
.soldes{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 315px;
    gap: 28px;
    height: 558px;
}
.disneyworld{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 315px;
    gap: 20px;
    height: 558px;
}
.cerise{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 315px;
    gap: 30px;
    height: 558px;
}
.disney{
  font-weight: 700;
}
.boutique{
    font-weight: 700;
}
.walt{
    font-weight: 700;
}
.spectacle{
    font-weight: 700;
}
.disneyplus{
    background-color: #054553;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-family:Helvetica, sans-serif;
    margin-top: 40px;
    width: 70%;
    margin: 0 auto;
}
.disney1{
    display: flex;
    justify-content: center;
    gap:15px;
    background-color: #054553;
    color: white;
    font-family:Helvetica, sans-serif;
    height: 300px;
    width: 70%;
    margin: 0 auto;
}
.percy{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: small;
    margin-top: 30px;
}
.amateur{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: small;
    margin-top: 30px;
}
.guepard{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: small;
    margin-top: 30px;
}
.btn2{
    background-color:#054553;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.btn-sub{
    margin-top: 60px;
    margin-bottom: 40px;
    width: 160px;
    font-size: 20px;
    padding: 10px;
    gap: 60px;
    border-radius: 25px;
    font-family: Helvetica, sans-serif;
    background-color: white;
}
.abn{
    background-color:#054553;
    color: white;
    text-align: center;
    height: 50px;
    font-size: smaller;
    width: 70%;
    margin: 0 auto;
}
.parcs{
    text-align: center;
    margin-top: 60px;
}
.parc-line{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 20px;
}
.disney-ad{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 630px;
    gap: 16px;
    height: 651px;
}

.waltdisney{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 315px;
    gap: 16px;
    height: 651px;
}
.cruise{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 315px;
    gap: 16px;
    height: 651px;
}

.title-spectacle{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.spectacle-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
}
.event{
    font-weight: 400;
    width:14rem;

}
.spectacle{
    background-color: white;
}
.boutique{
    display: flex;
    justify-content: center;
}
.title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: Helvetica, sans-serif;
}
.container-boutique{
    position: relative;
    display: block;
    z-index: 1;
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
}
.decouvrir:hover{
    text-decoration: underline;
}
.text-container1{
    position: absolute;
    width: 400px;
    margin-left: 100px;
    max-width: 36%;
    display: flex;
    flex-direction: column;
    top: 30%;
    color: white;
    font-family: Helvetica, sans-serif;
}
.container:hover{
    transition: transform 400ms;
    transform: scale(1.03);
}
.films{
    margin: 0 auto;
    gap: 20px;
}
.film-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.title-films{
    text-align: center;
    margin-top: 60px;
}
.title-news{
    text-align: center;
    margin-top: 60px;
    font-size: 25px;
    margin-bottom: 40px;
}
.container-news{
    position: relative;
    display: flex;
    justify-content: center;
}
.text-container-news{
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    width: 33%;
}
.btn-news{
    background-color: white;
    width: 400px;
    font-size: 20px;
    padding: 10px;
    gap: 60px;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
}
.imgnews:hover{
    transition: transform 400ms;
    transform: scale(1.03);
}
footer{
    background-color: white;

}
.footer-social{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.footer-link ul{
    padding-top: 16px;
    text-align: center;
    display: flex;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
}
.footer-nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo-nav{
    width: 5%;
    margin: 0 auto;
}
.footer-bottom{
    margin-top: 15px;
    text-align: center;
}